<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单编辑</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <!--引入Vue相关JS-->
    <script src="../plugins/Vue/vuejs-2.5.16.js"></script>
    <script src="../plugins/Vue/axios-0.18.0.js"></script>
    <script src="../js/controller/orderController.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini">

<div id="app">
    <!-- 内容区域 -->
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                订单管理
                <small>订单表单</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="all-admin-index.html"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="all-order-manage-list.html">订单管理</a></li>
                <li class="active">订单表单</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!--订单信息-->
            <!--<div class="panel panel-default">-->
                <div class="panel-heading"><h4 class="box-title">订单信息</h4></div>
                <div class="row data-type">

                    <div class="col-md-2 title">订单编号</div>
                    <div class="col-md-16 data">
                        {{entity.order.orderId}}
                    </div>

                    <div class="col-md-2 title">用户ID</div>
                    <div class="col-md-4 data">
                        {{entity.order.userId}}
                    </div>

                    <div class="col-md-2 title">订单金额</div>
                    <div class="col-md-4 data">
                        <input type="number" v-model="entity.order.payment" v-if="entity.order.status==2">
                        <Font v-if="entity.order.status!=2">{{entity.order.payment}}</Font>
                    </div>

                    <div class="col-md-2 title">下单时间</div>
                    <div class="col-md-4 data">
                        {{entity.order.createTime}}
                    </div>

                    <div class="col-md-2 title">支付时间</div>
                    <div class="col-md-4 data">
                        <Font v-if="entity.order.paymentTime==null">未支付</Font>
                        <Font v-if="entity.order.paymentTime!=null">{{entity.order.paymentTime}}</Font>
                    </div>

                    <div class="col-md-2 title">支付方式</div>
                    <div class="col-md-4 data">
                        <Font v-if="entity.order.paymentType==0">货到付款</Font>
                        <Font v-if="entity.order.paymentType==1">微信支付</Font>
                    </div>

                    <div class="col-md-2 title">支付时间</div>
                    <div class="col-md-4 data">
                        {{entity.order.paymentTime}}
                    </div>

                </div>
            <!--订单信息/-->

            <!--联系人信息-->
            <div class="panel-heading"><h4 class="box-title">联系人信息</h4></div>
            <div class="row data-type">

                <div class="col-md-2 title">联系人</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" v-model="entity.order.receiver" placeholder="请输入收件人姓名" value="">
                </div>

                <div class="col-md-2 title">手机号</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" v-model="entity.order.mobile" placeholder="请输入收件人手机号码" value="">
                </div>

                <div class="col-md-2 title">收件地址</div>
                <div class="col-md-16 data text">
                    <input type="text" class="form-control" v-model="entity.order.receiverAreaName" placeholder="请输入收件地址" value="">
                </div>
            </div>

            <!--联系人信息-->
            <div class="panel-heading"><h4 class="box-title">联系人信息</h4></div>
            <div class="row data-type">

                <div class="col-md-2 title">联系人</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" v-model="entity.order.receiver" placeholder="请输入收件人姓名" value="">
                </div>

                <div class="col-md-2 title">手机号</div>
                <div class="col-md-4 data text">
                    <input type="text" class="form-control" v-model="entity.order.mobile" placeholder="请输入收件人手机号码" value="">
                </div>

                <div class="col-md-2 title">收件地址</div>
                <div class="col-md-16 data text">
                    <input type="text" class="form-control" v-model="entity.order.receiverAreaName" placeholder="请输入收件地址" value="">
                </div>
            </div>

            <!--订单商品信息-->
            <div class="panel-heading"><h4 class="box-title">订单商品信息</h4></div>
            <div class="row data-type">
                <!--数据列表-->
                <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="sorting">商品名称</th>
                        <th class="sorting">商品数量</th>
                        <th class="sorting">商品单价</th>
                        <th class="sorting">商品总价</th>

                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in entity.orderItem">
                        <td>{{item.title}}</td>
                        <td>{{item.num}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.totalFee}}</td>

                        <td class="text-center">
                            <button type="button" class="btn bg-olive btn-xs" @click="deleItem(item.id)"
                                    onclick='location.href="all-order-manage-edit.html"'>删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--数据列表/-->
            </div>
    <!--联系人信息/-->
    <!--工具栏-->
    <div class="box-tools text-center">
        <button type="button" @click="add()" class="btn bg-maroon">保存</button>
        <button type="button" class="btn bg-default" href="order.html">返回</button>
    </div>
    <!--工具栏/-->

    </section>
    <!-- 正文区域 /-->

<!--</div>-->
<!-- 内容区域 /-->
</div>
<!-- 底部导航 -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.8
    </div>
    <strong>Copyright &copy; 2014-2017 <a href="http://www.itcast.cn">研究院研发部</a>.</strong> All rights reserved.
</footer>
<!-- 底部导航 /-->

<!--</div>-->
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/adminLTE/js/app.min.js"></script>
</body>

</html>